<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590985523606-cp9mhs1a7g18i8bapo8cuujjnet4f0pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590985523606-cp9mhs1a7g18i8bapo8cuujjnet4f0pv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590985523606-7flb010dksrq94km52g4atu14vh8qu9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBB2yRgyOVZH0O34kIWwTwkw5AqZqqy-Rg</string>
	<key>GCM_SENDER_ID</key>
	<string>590985523606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyppe.hyppeapp</string>
	<key>PROJECT_ID</key>
	<string>hyppeapp-297310</string>
	<key>STORAGE_BUCKET</key>
	<string>hyppeapp-297310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590985523606:ios:049b5ff1f1907858a92db7</string>
	<key>DATABASE_URL</key>
	<string>https://hyppeapp-297310.firebaseio.com</string>
</dict>
</plist>