<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Hyppe.entitlements
   Hyppe

   Created by annisa mayliani on 19/12/20.
   Copyright (c) 2020 The Chromium Authors. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
