<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyppe.hyppeapp">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- Used for internet connection. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> <!-- Used for setting local notification plugin. -->
    <uses-permission android:name="android.permission.CAMERA"/> <!-- Used for operation camera. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- Used for access user location. -->
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- Used for access Vibrate Phone. -->
</manifest>
