<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>esteh_kebun.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
				<key>dateExpires</key>
				<string>04/09/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>10.21.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>10.21.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nb_utils.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_filex.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>smart_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C71D66D8E8A073170D9D310B4C5ED3BD21DBFDA</string>
						<key>dateExpires</key>
						<string>04/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_thumbnail.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2QQ2WBPS3P</string>
						<key>name</key>
						<string>PT Esteh Indonesia Makmur</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2QQ2WBPS3P.com.esteh.kebun</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2QQ2WBPS3P</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>26511d17-3b7f-434e-bb7d-d97a5261311f</string>
				<key>dateExpires</key>
				<string>19/04/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.esteh.kebun</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2QQ2WBPS3P</string>
				<key>name</key>
				<string>PT Esteh Indonesia Makmur</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
