<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lucydream.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
				<key>dateExpires</key>
				<string>28/04/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheck.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorageInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FE2504929675930EBCDE9D9EBA80B00E9D864AF</string>
						<key>dateExpires</key>
						<string>28/04/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z4489DNPPA</string>
						<key>name</key>
						<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z4489DNPPA.com.gallery.lucydream</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Z4489DNPPA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6d172930-08f0-42d5-b791-981e361e8f30</string>
				<key>dateExpires</key>
				<string>28/04/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.gallery.lucydream</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z4489DNPPA</string>
				<key>name</key>
				<string>PT. HYPPE TEKNOLOGI INDONESIA</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
